@import "../../../../public/dependencies/sass/variables.scss";

.l-register {
	h1 {
		margin: 0 0 30px 0;
	}
	.card {
		.row:last-child {
			margin-top: 20px;
		}
		label {
			font-family: "FaxSansBeta";
		}
	}
}
