.l-profile {
	margin-top:30px;
	.profile-pic {
		width:100%;
	}
	.profile-name {
		text-align:center;
		text-transform:capitalize;
		font-family:"nutellaBold";
		font-size:45px;
	}
	.profile-banner {
		background:#fff;
	}
}